{% extends 'base.html.twig' %}
{% block title %}Notre Histoire
{% endblock %}


{% block body %}
	<div class="story">
		<h1 class="stitle">Notre histoire</h1>
		<div class="incipit">

            <p>Avant toute chose,     
            </p>
            <div class="imgIncipit">
                <img src="../assets/img/e3a9f14f91f5588678004b09fb1935a0.jpg" alt="minimirefield">
            </div>
        </div>
	</div>

{% endblock %}
