{% extends 'base.html.twig' %}
{% block title %}Notre Histoire
{% endblock %}


{% block body %}
	<div class="story">
		<h1 class="stitle">Notre histoire</h1>
		<div class="incipit">

			<div class="ecriture">
				<p>Avant toute chose, il convient de présenter ce qu'est ce que j'appelle "les explorateurs" car il ne s'agit pas vraiment du nom de notre communauté, mais un moyen plus rapide de nous définir.
				</p>
				<p>Si ce nom peut sonner pompeux à notre époque, il provient simplement de l'un des projets de notre communauté qui est étrangement arrivé bien tard dans la temporalité globale de notre groupe.</p>
				<p>Le moyen le plus simple de le définir c'est par notre activité principale, à savoir l'écriture, et plus précisément le jeu de rôle. Au fil des années, au fil des projets nous avons enchaîné et échangés d'univers relativement fréquemment et ce depuis 2016.</p>
				<p>Suite à cette petite introduction vous sera présenté ces différents projets auxquels nous avons participé. Créant, une petite chronologie qui englobe notre histoire globale et qui met en avant nos histoires au cadre plus restreint qui concerne moins souvent des événements universels que des événements personnels, mettant souvent le focus sur les personnages, donnant toujours un aspect humain à travers ces univers.</p>
			</div>
			<div class="imgIncipit">
				<img src="../assets/img/e3a9f14f91f5588678004b09fb1935a0.jpg" alt="minimirefield">
			</div>
		</div>

		<div class="potter">
			<div class="imgPotter">
				<img src="../assets/img/2019.jpg" alt="potter">
			</div>
            <div class="textPotter">
                <p>En 2016, autour d'un utilisateur surnommé "Albus", se réunnissent une dizaine de personnes, qui deviennent très vite des joueurs et qui s'organise autour d'un projet simple : </p>
                <p>Se réunir et vivre des aventures originales dans l'univers de sorcellerie de J.K.Rowling, être placé dans ses maisons, </p>
            </div>
		</div>

	</div>

{% endblock %}
