{% extends 'base.html.twig' %}
{% block title %}Notre Histoire
{% endblock %}


{% block body %}
	<div class="story">
		<h1 class="stitle">Notre histoire</h1>
		<div class="incipit">

			<div class="ecriture">
				<p>Avant toute chose, il convient de présenter ce qu'est ce que j'appelle "les explorateurs" car il ne s'agit pas vraiment du nom de notre communauté, mais un moyen plus rapide de nous définir.
				</p>
				<p>Si ce nom peut sonner pompeux à notre époque, il provient simplement de l'un des projets de notre communauté qui est étrangement arrivé bien tard dans la temporalité globale de notre groupe.</p>
				<p>Le moyen le plus simple de le définir c'est par notre activité principale, à savoir l'écriture, et plus précisément le jeu de rôle. Au fil des années, au fil des projets nous avons enchaîné et échangés d'univers relativement fréquemment et ce depuis 2016, parfois à cause de soucis humains, parfois simplement à cause de l'envie.</p>
				<p>Suite à cette petite introduction vous sera présenté ces différents projets auxquels nous avons participé. Créant, une petite chronologie qui englobe notre histoire globale et qui met en avant nos histoires au cadre plus restreint qui concerne moins souvent des événements universels que des événements personnels, mettant souvent le focus sur les personnages, donnant toujours un aspect humain à travers ces univers.</p>
			</div>
			<div class="imgIncipit">
				<img src="../assets/img/e3a9f14f91f5588678004b09fb1935a0.jpg" alt="minimirefield">
			</div>
		</div>

		<div class="potter">
			<div class="imgPotter">
				<img src="../assets/img/2019.jpg" alt="potter">
			</div>
			<div class="textPotter">
				<h2>Poudlard</h2>
				<h4>Héritage - Renaissance - Résurgence</h4>
				<p>En 2016, autour d'un utilisateur surnommé "Albus", se réunnissent une dizaine de personnes, qui deviennent très vite des joueurs et qui s'organise autour d'un projet simple :
				</p>
				<p>Se réunir et vivre des aventures originales dans l'univers de sorcellerie de J.K.Rowling, être placé dans ses maisons, découvrir les secrets et les mystères de l'école de sorcellerie et affronter tout autant que découvrir des dangers et des créatures aussi dangereux que fantastiques.</p>
				<p>Cette période première a été marquée par de nombreux conflits entre les individus et les groupes au sein même de la communauté, jusqu'à sa séparation, une, deux puis trois fois, avec toujours, dans le fond du problème le comportement de certains administrateurs.
				</p>
				<p>Outre ses périodes troubles, il convient de se souvenir des grands moments, comme l'assaut sur les acréanteurs, l'apogée de la croisade et de son leader Fangcrow, ainsi que l'exploration du monde des tableaux, parfois plus vivant que le monde "réel".
				</p>
			</div>
		</div>

		<div class="queryvalley">

			<div class="textValley">
				<h2 class="titreValley">Queryvalley</h2>
				<h4 class="titreValley">Fondation - Entité - Dimension</h4>
				<p>En 2019, s'articulant autour d'un univers basé sur les SCP et mis en oeuvre par l'utilisateur surnommée "Shirley", un morceau de la précédente communauté commence à jouer dans un nouveau monde aussi proche qu'éloigné du réel :
				</p>
				<p>Queryvalley est une petite ville calme de la campagne Américaine, pendant de nombreuses années, elle n'a connu que ce calme, mais dans les ombres des conifères de la vallée, une organisation nommée "La Fondation" veille.</p>
				<p>La Fondation n'est pas une organisation maléfique, du moins de prime-abord, elle permet aux USA par le biais de ses agents de caputrer, et sécuriser et de contenir les entités qui pulluent dans le monde, aussi bien pour la sécurité des civils, qui seront toujours ignorant de la réalité, que pour les entités elle-même et les protéger d'une potentielle chasse aux sorcières.
				</p>
				<p>Depuis l'époque, Queryvalley a fini par tourner en rond, et sa créatrice a fini par l'accepter et a décidé de mettre un point final à l'histoire de Queryvalley et de ses habitants.</p>
			</div>
			<div class="imgValley">
				<img class="valley" src="../assets/img/queryd12.jpg" alt="valley">
			</div>
		</div>

		<div class="explo">
			<div class="imgExplo">
				<img class="rateur" src="../assets/img/Explorateur_ocean_2.png" alt="explo">
			</div>
			<div class="textExplo">
				<h2>Les explorateurs de l'océan</h2>
				<h4>Piraterie - Révolution - Exploration</h4>
				<p>Début 2019 en parallèle à Queryvalley, du coté d'une autre partie de la communauté, c'est trois utilisateurs surnommé "Sly", "Kesla" et "Ashvin", qui se réunnissent pour penser et imaginer un univers alternatif à l'ancien Harry Potter mais en en restant proche, cherchant à offrir du neuf avec de l'ancien :
				</p>
				<p>Le monde des "explorateurs" s'articule autour du continent de Galdria, nation des humains et des sorciers et poussé par une envie d'expansion de richesse et de gloire, nombres marins s'en font à la recherche d'autres îles, découvrant races, trésors et objets mystiques pouvant changer le destin de tout l'humanité.</p>
				<p>Si aujourd'hui, les "explos" se trouve être le dernier de ces projets actifs, il n'en a pas moins subi quelques dégâts à cause de divergences, moindre que les précédentes, l'histoire continue d'avancer, même si l'ancienneté du projet a amené la discussion sur une fin programmée.</p>
			</div>
		</div>

        <div class="queryvalley">

			<div class="textValley">
				<h2 class="titreValley">Babel</h2>
				<h4 class="titreValley">Blue Moon - Mysticisme - Légendes</h4>
				<p>En 2022, "Orwell" décide de lancer son projet d'écriture de son coté, parvenant à réunir plus de mon encore que sur Queryvalley et les Explorateurs avant lui :
				</p>
				<p>Babel s'articule autour d'un bar légendaire, le Blue Moon, qui navigue à travers l'espace pour déposer ses locataires à des endroits de trouble cherchant à les régler et à garder l'équilibre sur tout les continents. Offrant par la même occasion une seconde chance à ses locataires qui vivaient hors des normes de la société.</p>
				<p>D'aucun pourrait argument qu'Orwell avait de l'or entre les mains. Entre une synopsis intriguante et des promesses de découverte magie et de combat épique, beaucoup attendaient beaucoup du projet, à tel point que ce dernier n'a pas sû suivre la demande, et provoqua un désintérêt des joueurs. Suivi de celui des ses partenaires. Aujourd'hui, Babel reviendra peut-être au tournant après une réforme de son système mais qui sait si les joueurs seront seulement au rendez-vous. </p>
			</div>
			<div class="imgValley">
				<img class="valley" src="../assets/img/babelt10.jpg" alt="babel">
			</div>
		</div>

        <div class="potter">
			<div class="imgExplo">
				<img class="rateur" src="../assets/img/QrrF5ko.png" alt="mirefield">
			</div>
			<div class="textExplo">
				<h2>Mirefield</h2>
				<h4>Industrialisation - Lovecraft - Mafia</h4>
				<p>Janvier 2023, Adrien semble avoir été déçu par le dernier acte des explorateurs de l'océan ( son seul vrai personnage a perdu la vie ) il décide alors après quelques mois de travail de lancer son propre projet qui respectera sa vision des choses :
				</p>
				<p>Mirefield est le nom d'une ville située dans le Royaume de Crown's Union, elle abritte l'Université de Griffyce qui forme les futurs élites des nations de tous les continents, chacun dans le futur occupera une place important dans les royaumes, en tant que dirigeant, inventeur ou général. Faut-il encore qu'ils survivent aux évenements étranges qui englobent la cité des promesses, entre magouille princière et créature lovecraftienne, il ne faudrait pas parier sur le mauvais cheval.</p>
				<p>Mirefield, comme la ville, était plein de promesse. Elle avait réuni encore plus de monde que Babel, malheureusement, Adrien, trop attaché à sa vision des choses, n'a pas sû lâcher du leste pour garder le projet à flot, après une période de naufrage lent, le projet s'enfonce dans l'oublie après que les propriétaires du site ne se dispute et ne détruise ce dernier au passage. Si retour il devait y avoir, cela demanderait le plus de travail, que ce soit humain ou sur site.
				</p>
			</div>
		</div>

	</div>

{% endblock %}
