{% extends 'base.html.twig' %}

{% block title %}Théâtre de l'Alchimiste
{% endblock %}


{% block body %}

	<div id="slider">
		<div id="prev"></div>
		<div id="next"></div>
		<img src="" alt="">
	</div>

	<div class="container">
		{% for evenement in evenements %}
			<div class="card">
				<img src="{{asset('/dossierIamge/' ~ evenement.image)}}" alt="{{ evenement.titre }}" style="width:100%">
				<h1>{{ evenement.titre }}</h1>
				<p class="price">{{ evenement.prix }} €</p>
				<p>Some text about the jeans..</p>
				<p>
					<button>En savoir plus</button>
				</p>
			</div>
		{% endfor %}
    </div>

	{% endblock %}
