{% extends 'base.html.twig' %}

{% block title %}Edit Evenement
{% endblock %}

{% block body %}
	<div class="bigContiendreEvent">
		<h1 style="color: white; text-shadow: 2px 2px 2px #000;">Edit Evenement</h1>

		{{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_evenement_index') }}" style="color: white; text-shadow: 2px 2px 2px #000;">back to list</a>

		{{ include('evenement/_delete_form.html.twig') }}
	</div>
{% endblock %}
