{% extends 'base.html.twig' %}

{% block title %}Ajout d'un événement
{% endblock %}

{% block body %}
	<div class="bigContiendreEvent">
		<div class="contiendreEvent">
			<h1>Créez un nouvel événement :</h1>

			{{ include('evenement/_form.html.twig') }}

			<a href="{{ path('app_evenement_index') }}">back to list</a>
		</div>
	</div>
{% endblock %}
