{% extends 'base.html.twig' %}

{% block title %}Ajout d'un événement
{% endblock %}

{% block body %}
	<div class="bigContiendreEvent">
		<div class="contiendreEvent">
			<h1 class="annonceEvent">Créez un nouvel événement :</h1>

			{{ include('evenement/_form.html.twig') }}

			<a href="{{ path('eventbyuser') }}" class="annonceEvent">Retour à ma liste</a>
		</div>
	</div>
{% endblock %}
