body{
    background-image: url(../img/morgane-bru-carte-copie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Gamja Flower', sans-serif;
}