{# templates/construction/index.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>En cours de construction</title>
	</head>
	<body>
		<div style="display: flex; flex-direction: column; align-content: center; justify-content: center; ">
			<h1>En cours de construction</h1>
			<p>Merci de votre patience pendant que nous travaillons sur cette page.</p>
		</div>
	</body>
</html>
